<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      display: grid;
      width: 100%;
      min-height: 100vh;
      padding: 1rem;
      box-sizing: border-box;
      overflow-y: auto;
      place-content: center;
    }
    h1 {
      width: 100%;
      text-align: center;
      background: transparent;
    }

    .circle {
      --square: 6rem;
      color: red;
      width: var(--square);
      height: var(--square);
      display: grid;
      place-content: center;
      border: 2px solid red;
      border-radius: 50%;
      justify-self: center;
      margin-bottom: 2rem;
      font-size: 2rem;
    }

  </style>
</head>
<body>
  <div class="circle">404</div>
  <h1>!Page not found!</h1>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Como estamos dentro del mismo servidor no se le pasa host ni puerto
      const socket = io();
      socket.on('payment-status-updated', (data) => {
        window.location.reload()
      });
    });
  </script>
</body>
</html>